@font-face { font-family: Fira Code; src: url('../fonts/FiraCode-VariableFont_wght.ttf'); }
@font-face { font-family: Chivo; src: url('../fonts/ChivoMono-VariableFont_wght.ttf'); }

html, body, #main {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  color: #fefefe;
  background: #222;
  font-size: .75rem;
  font-family: Chivo;
}

#main {
  display: flex;
}

/* Left area */

#back-pak {
  white-space: nowrap;
  width: min-content;
  margin: 5px;
  padding: 4px 20px;
  cursor: pointer;
  font-size: .85rem;
  background-color: #424242;
  display: none;
}

#left-area {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

#tree-view {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
}

#tree-selector {
  display: flex;
}

.tree-button {
  width: 50%;
}

.tree {
  font-weight: 200;
}

.main-tree {
  flex-grow: 1;
}

/* Search Bar */

#search-bar {
  position: sticky;
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 5px;
  background: #191919;
  border-top: 1px solid white;
  box-sizing: border-box;
}

#search-bar label {
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
  padding-inline: 10px;
}

#search-bar input:nth-child(1) {
  width: 100%;
  border: none;
  background: #434343;
  color: #fefefe;
  padding-inline-start: 5px;
  font-size: .7rem;

  &::placeholder {
    color: #d0d0d0;
  }
}

#search-bar button {
  background: #373737;
  border: none;
  color: #fefefe;
  margin: 0 2px;
  cursor: pointer;
  font-family: Chivo;
}

/* Import button */

#pak-actions {
  display: flex; 
  align-items: center;
  gap: 5px; 
  margin: 5px;
}

#pak-actions div {
  /* display: flex; */
  display: none;
  text-wrap: nowrap;
  align-items: center;
  margin: 0 5px;
  gap: 10px;
}

#pak-import {
  display: none;
}

#display-mode {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Level selector */

#level-selector {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute; 
  top: 10px;
  right: 10px; 
  gap: 5px;
}

#level-selector > div {
  display: flex;
  gap: 5px;
}

#level-select {
  width: 18px;
}

select {
  cursor: pointer;
  background: #1c1c1c;
  color: #fefefe;
}

#launch-game {
  background: #373737;
  border: none;
  color: #fefefe;
  padding: 5px 25px;
  cursor: pointer;
  font-family: Chivo;
}

#launch-game:hover {
  background: #555;
}

#launch-game:disabled {
  background: #333;
  color: #888;
  cursor: default;
}

/* Right Area */

#right-area {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-left: 1px solid white;
  padding-inline: 10px;
  margin-top: 40px;
  overflow-y: auto;
  overflow-x: hidden;
}

.section-title {
  font-size: .9rem;
  text-decoration: underline;
  text-decoration-thickness: 0.75px;
  text-underline-offset: 2px;
  padding-bottom: 5px;
}

#object-name {
  margin-bottom: 5px;
}

#data-struct {
  overflow: auto;
}

pre {
  margin: 0;
}

code {
  font-family: Fira Code;
  font-weight: 400;
}

/* Hex Viewer */

#data-view {
  /* display: flex; */
  display: none;
  flex-direction: column;
  max-height: 36%;
}

#data-table-ctn {
  overflow-y: auto;
  margin-bottom: 5px;
}

.hex-offset { color: #888; }
.hex-child  { color: rgb(111, 173, 255); }
.hex-handle { color: rgb(174 209 255); }
.hex-zero   { color: #666; }
.hex-vec    { color: rgb(240, 160, 41) }
.hex-float  { color: #70fff0; }
.hex-long   { color: #25a6c7; }
.hex-int    { color: rgb(149, 255, 145) }
.hex-enum   { color: #daff33 }
.hex-bool   { color: rgb(158, 74, 242) }
.hex-string { color: rgb(244, 144, 255) }

.data-table {
  width: 100%;
  font-family: monospace;
  font-size: .8rem;
  text-align: center;
  cursor: default;
  background: #1c1c1c;

  font-family: Chivo;
  font-weight: 200;
  text-wrap: balance;
}

/* Fields Table */

#object-view-ctn {
  display: none;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  overflow-y: scroll;
}

#object-view {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: .7rem;
  width: 100%;
}

#object-view td {
  max-width: 100px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#object-view td:nth-child(1) {
  width: 36%;
}

#object-view td:nth-child(2) {
  padding-left: 5px;
  width: 20%;
}

tr                              { background-color: #222; }
tr:nth-child(even)              { background-color: #2c2c2c; }
tr.list-element                 { background-color: #1f1f22; }
tr.list-element:nth-child(even) { background-color: #27272e; }
tr.collapsable                  { background-color: #323447; }

tr.selected {
  border: 1px solid white!important;
}

td.selected {
  border: 1px solid white;
  box-sizing: border-box;
}

td.hex-updated {
  font-weight: 900;
  background-color: #8ee43029;
}

td.hex-flash {
  animation: flashAnimation 0.5s ease-in-out;
}

@keyframes flashAnimation {
  0%, 100% {
    background-color: #5c5c5c;
  }

  50% {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.field-view {
  font-weight: 100;
}

.field-view input {
  width: 100%;
  background: #1c1c1c;
  color: #fefefe;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #333;
  text-align: center;
  margin: 0;
}

.field-view input, select {
  font-size: .75rem;
  font-family: Chivo;
  font-weight: 200;
}

.vec-input {
  display: flex;
  align-items: center;
  gap: 2px;
}

#context-menu {
  display: none;
  position: absolute;
  z-index: 100;
  background: #191919;
  border: 1px solid #333;
  padding: 2px;
  box-shadow: 0 0 5px #000;
  width: 160px;
}

.ref-list {
  margin: 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ref-list p {
  font-weight: 100;
  margin: 2px;
}

.object-references {
  cursor: pointer;
}

.object-references:hover {
  font-weight: bold;
  font-style: italic;
}

/* Data Type Viewer */

.data-type-select {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#apply-all {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  color: rgb(255, 240, 145);
  font-size: .7rem;
  font-weight: 200;
  width: 100%;
}

#focus-in-explorer {
  display: none;
  white-space: nowrap;
  height: fit-content;
  background: #191919;
  border: none;
  color: #fefefe;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: Chivo;
}

#focus-in-explorer:hover {
  background: #333;
}

/* Tree Preview */

#tree-preview-ctn {
  display: none;
  height: 60%;
}

.tree-preview {
  height: 100%;
  overflow: auto;
}

#checkbox-input {
  display: flex; 
  align-items: center; 
  margin: 5px 0; 
  gap: 5px;
  font-size: .8rem;
}

#tree-preview-buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}

#tree-preview-buttons-bottom {
  display: flex;
  gap: 4px;
}

.tree-preview-btn {
  width: 100%;
  background: #191919;
  border: none;
  color: #fefefe;
  padding: 5px;
  cursor: pointer;
  font-family: Chivo;
}

.tree-preview-btn:hover {
  background: #333;
}

.tree-preview-btn:disabled {
  background: #333;
  color: #888;
  cursor: default;
}

/* Level Explorer */
#explorer {
  display: none;
  position: relative;
}

#explorer > canvas {
  width: 100%;
  aspect-ratio: 16/9;
}

#hide-explorer {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  text-decoration: underline;
}

/* Stylize scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Dark color for the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background-color: #222; /* Dark color for the track */
}

/* Hide input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}